<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Vue Test</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- development version, includes helpful console warnings -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		
	</head>
	<body>
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Declarative Rendering</h3>
			<div id="app">
			  {{ message }}
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Bind elements</h3>
			<div id="app-2">
			  <span v-bind:title="message">
			    Hover your mouse over me for a few seconds
			    to see my dynamically bound title!
			  </span>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Conditionals and Loops</h3>
			<div id="app-3">
			  <span v-if="seen">Now you see me</span>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Conditionals and Loops</h3>
			<div id="app-4">
			  <ol>
			    <li v-for="todo in todos">
			      {{ todo.text }}
			    </li>
			  </ol>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Handling User Input</h3>
			<div id="app-5">
			  <p>{{ message }}</p>
			  <button v-on:click="reverseMessage">Reverse Message</button>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Handling User Input</h3>
			<div id="app-6">
			  <p>{{ message }}</p>
			  <input v-model="message">
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Composing with Components</h3>
			<div id="app-7">
			  <ol>
			    <!--
			      Now we provide each todo-item with the todo object
			      it's representing, so that its content can be dynamic.
			      We also need to provide each component with a "key",
			      which will be explained later.
			    -->
			    <todo-item
			      v-for="item in groceryList"
			      v-bind:todo="item"
			      v-bind:key="item.id">
			    </todo-item>
			  </ol>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Freeze data</h3>
			<div id="app-8">
				<p>{{ foo }}</p>
			    <!-- this will no longer update `foo`! -->
			    <button @click="foo = 'baz'">Change it</button>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Watch Callback</h3>
			<div id="app-9">
				<p>{{ message }}</p>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Interpolations - Raw HTML</h3>
			<div id="app-10">
				<p>Using mustaches: {{ rawHtml }}</p>
				<p>Using v-html directive: <span v-html="rawHtml"></span></p>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Interpolations - Attributes</h3>
			<div id="app-11">
				<span v-bind:title="dynamicTitle">Hover to see dynamic title</div>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Interpolations- Using JavaScript Expressions</h3>
			<div id="app-12">
				<div v-bind:id="'list-' + id ? 'YES' : 'NO'">See ID attribute {{ id }} ID EXISTS? {{ id ? 'YES' : 'NO' }}</div>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Directives</h3>
			<div id="app-13">
				<p v-if="seen">{{ message }}</p>
			    <!-- this will no longer update `foo`! -->
			    <button @click="seen = !seen">Click to hide/show message</button>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Computed Properties</h3>
			<div id="app-14">
			  <p>Original message: "{{ message }}"</p>
			  <p>Computed reversed message: "{{ reversedMessage }}"</p>
			  <p>Method reversed message: "{{ reverseMessage() }}"</p>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Computed Setter</h3>
			<div id="app-15">
			  <p>Full name: "{{ fullName }}"</p>
			  <input v-model="fullName"></input>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Watchers</h3>
			<!-- Since there is already a rich ecosystem of ajax libraries    -->
			<!-- and collections of general-purpose utility methods, Vue core -->
			<!-- is able to remain small by not reinventing them. This also   -->
			<!-- gives you the freedom to use what you're familiar with. -->
			<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
			<div id="watch-example">
			  <p>
			    Ask a yes/no question:
			    <input v-model="question">
			  </p>
			  <p>{{ answer }}</p>
			  <img v-bind:src="image"/>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Binding HTML Classes - Object Syntax</h3>
			<div id="app-16">
			  <div class="static" v-bind:class="{ active: isActive, 'text-danger': hasError }">TEXT</div>
			</div>
			<div id="app-17">
			  <div v-bind:class="classObject">classObject</div>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Binding HTML Classes - Array Syntax</h3>
			<div id="app-18">
			  <div v-bind:class="[isActive ? activeClass : '', errorClass]">Ternary Syntax</div>
			  <div v-bind:class="[{ active: isActive }, errorClass]">Array Syntax</div>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Components - Global Registration</h3>
			<div id="app-19">
			  <my-component></my-component>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Components - Local Registration</h3>
			<div id="app-20">
			  <my-component-local></my-component-local>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Components - DOM Template Parsing Caveats</h3>
			<div id="app-21">
				<table>
				  <tr is="my-row"></tr>
				</table>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Components - data Must Be a Function</h3>
			<div id="app-22">
			  <simple-counter></simple-counter>
			  <simple-counter></simple-counter>
			  <simple-counter></simple-counter>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Components - Passing Data with Props</h3>
			<h4>CamelCase vs. kebab-case</h4>
			<div id="app-23">
				<!-- kebab-case in HTML -->
				<child my-message="Message of props"></child>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Components - Passing Data with Props</h3>
			<div id="app-24">
			  <input v-model="parentMsg">
			  <br>
			  <child v-bind:my-message="parentMsg"></child>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Components - One-Way Data Flow</h3>
			<div id="app-25">
			  <counter initial-counter="1"></child>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Components - One-Way Data Flow</h3>
			<div id="app-26">
			  <propvalidation :prop-a=1 :prop-b="TEXT" :prop-c="REQUIREDTEXT" :prop-d=1 :prop-f=11>{{validation}}</propvalidation>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Components - Using v-on with Custom Events</h3>
			<div id="app-27">
			  <p>{{ total }}</p>
			  <button-counter v-on:increment="incrementTotal"></button-counter>
			  <button-counter v-on:increment="incrementTotal"></button-counter>
			</div>
			<div id="app-28">
			  <p v-for="msg in messages">{{ msg }}</p>
			  <button-message v-on:message="handleMessage"></button-message>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<script src="https://cdn.rawgit.com/chrisvfritz/5f0a639590d6e648933416f90ba7ae4e/raw/974aa47f8f9c5361c5233bd56be37db8ed765a09/currency-validator.js"></script>
			<h3>Components - Form Input Components using Custom Events</h3>
			<div id="app-29">
			  <currency-input 
			    label="Price" 
			    v-model="price"
			  >
			  </currency-input>
			  <currency-input 
			    label="Shipping" 
			    v-model="shipping"
			  ></currency-input>
			  <currency-input 
			    label="Handling" 
			    v-model="handling"
			  ></currency-input>
			  <currency-input 
			    label="Discount" 
			    v-model="discount"
			  ></currency-input>
			<p>Total: ${{ total }}</p>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Binding HTML Classes - With Components</h3>
			<div id="app-30">
				<my-component class="baz boo"></my-component>
				<my-component v-bind:class="{ active: isActive }"></my-component>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Binding Inline Styles - Object Syntax</h3>
			<div id="app-31">
				<div v-bind:style="styleObject">TEXT WITH STYLE</div>
				<div v-bind:style="[baseStyles, overridingStyles]">Multiple styles</div>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Conditional Rendering - Conditional Groups with v-if</h3>
			<div id="app-32">
				<div v-if="Math.random() > 0.5">
				  Now you see me
				</div>
				<div v-else>
				  Now you don't
				</div>

				<div v-if="type === 'A'">
				  A
				</div>
				<div v-else-if="type === 'B'">
				  B
				</div>
				<div v-else-if="type === 'C'">
				  C
				</div>
				<div v-else>
				  Not A/B/C
				</div>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>List Rendering - Mapping an Array to Elements with v-for</h3>
			<ul id="app-33">
			  <li v-for="item in items">
			    {{ item.message }}
			  </li>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>List Rendering - Mapping an Array to Elements with v-for</h3>
			<ul id="app-34">
			  <li v-for="(item, index) in items">
			    {{ parentMessage }} - {{ index }} - {{ item.message }}
			  </li>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>List Rendering - v-for with an Object</h3>
			<ul id="app-35" class="demo">
			  <li v-for="value in object">
			    {{ value }}
			  </li>
			  <li v-for="(value, key, index) in object" :key="value.id">
				{{ index }}. {{ key }}: {{ value }}
			   </li>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>List Rendering - Displaying Filtered/Sorted Results</h3>
			<ul id="app-36">
				<li v-for="n in even(numbers)">{{ n }}</li>
			</ul>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>List Rendering - Displaying Filtered/Sorted Results</h3>
			<div id="todo-list-example">
			  <input
			    v-model="newTodoText"
			    v-on:keyup.enter="addNewTodo"
			    placeholder="Add a todo"
			  >
			  <ul v-if="todos.length">
			    <li
			      is="todo-item"
			      v-for="(todo, index) in todos"
			      v-bind:key="todo.id"
			      v-bind:title="todo.title"
			      v-on:remove="todos.splice(index, 1)"
			    ></li>
			  </ul>
			  <p v-else>No todos left!</p>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Event Handling - Listening to Events</h3>
			<div id="app-37">
			  <button v-on:click="counter += 1">Add {{ counter+1 }}</button>
			  <p>The button above has been clicked {{ counter }} times.</p>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Event Handling - Method Event Handlers</h3>
			<div id="app-38">
			  <!-- `greet` is the name of a method defined below -->
			  <button v-on:click="greet">Greet</button>
			</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Event Handling - Methods in Inline Handlers</h3>
			<div id="app-39">
			  <button v-on:click="say('hi')">Say hi</button>
			  <button v-on:click="say('what')">Say what</button>
			  <button v-on:click="warn('Form cannot be submitted yet.', $event)">Submit</button>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Event Handling - Key Modifiers</h3>
			<div id="app-40">
				<!-- same as above -->
				<input v-on:keyup.enter="submit" placeholder="Submit">

				<!-- also works for shorthand -->
				<input @keyup.enter="submit" placeholder="Submit">
				
				<!-- also works for shorthand -->
				<input @keyup.space="space" placeholder="Do spaces">

				<input @keyup.ctrl.67="copy" placeholder="Ctrl + C">
				
				
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Form Input Bindings - Basic Usage</h3>
			<div id="app-41">
				<input v-model="message" placeholder="edit me">
				<p>Message is: {{ message }}</p>

				<input type="checkbox" id="checkbox" v-model="checked">
				<label for="checkbox">{{ checked }}</label>
				<br>
				<h4>Check multiple names:</h4>
				  <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
				  <label for="jack">Jack</label>
				  <input type="checkbox" id="john" value="John" v-model="checkedNames">
				  <label for="john">John</label>
				  <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
				  <label for="mike">Mike</label>
				  <br>
				  <span>Checked names: {{ checkedNames }}</span>
				
				<br>
				<input type="radio" id="one" value="One" v-model="picked">
				<label for="one">One</label>
				<br>
				<input type="radio" id="two" value="Two" v-model="picked">
				<label for="two">Two</label>
				<br>
				<span>Picked: {{ picked }}</span>

				<br>
				<select v-model="selected" >
				  <option disabled value="">Please select one</option>
				  <option>A</option>
				  <option>B</option>
				  <option>C</option>
				</select>
				<span>Selected: {{ selected }}</span>

				<select v-model="selectedMultiple" multiple>
				  <option disabled value="">Please select one</option>
				  <option>A</option>
				  <option>B</option>
				  <option>C</option>
				</select>
				<span>Selected: {{ selectedMultiple }}</span>

				<br>
				<h4>Dynamic options</h4>
				<select v-model="selected">
				  <option v-for="option in options" v-bind:value="option.value">
				    {{ option.text }}
				  </option>
				</select>
				<span>Selected: {{ selected }}</span>
				
				<br>
				<h4>Value Bindings</h4>
				<input
				  type="checkbox"
				  v-model="toggle"
				  true-value="yes"
				  false-value="no"
				>
				
				<br>
				<input type="radio" v-model="pick" v-bind:value="a">

				<br>
				<select v-model="selectedObject">
				  <!-- inline object literal -->
				  <option v-bind:value="{ number: 123 }">123</option>
				</select>
				
				<br>
				<h4>Modifiers</h4>
				<h5>.lazy</h5>
				<!-- synced after "change" instead of "input" -->
				<input v-model.lazy="msg" >
				<h5>.number</h5>
				<input v-model.number="age" type="number">
				<h5>.trim</h5>
				<input v-model.trim="msg">
			</div>
		</div>

		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
			<h3>Components Basics</h3>
			<h4>Base Example</h4>
			<div id="components-demo">
			  <button-counter></button-counter>
			</div>
			<h4>Reusing Components</h4>
			<div id="components-demoR">
			  <button-counter></button-counter>
			  <button-counter></button-counter>
			  <button-counter></button-counter>
			</div>
			<h4>Passing Data to Child Components with Props</h4>
			<div id="app-42">
				<blog-post title="My journey with Vue"></blog-post>
				<blog-post title="Blogging with Vue"></blog-post>
				<blog-post title="Why Vue is so fun"></blog-post>
			</div>
			<div id="blog-post-demo">
				<blog-post
				  v-for="post in posts"
				  v-bind:key="post.id"
				  v-bind:title="post.title"
				></blog-post>
			</div>
			<h4>Sending Messages to Parents with Events</h4>
			<div id="blog-posts-events-demo">
			  <div :style="{ fontSize: postFontSize + 'em' }">
			    <blog-post
			      v-for="post in posts"
			      v-bind:key="post.id"
			      v-bind:post="post"
			      v-on:enlarge-text="onEnlargeText"
			    ></blog-post>
			  </div>
			</div>
		</div>

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!-- Vue APP -->
		<script src="vue_app.js"></script>
	</body>
</html>